<% content_for :title, "Edit Task" %>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= link_to "Tasks", tasks_path, class: "text-decoration-none" %>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Edit Task</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<%= render "form", task: @task %>